<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseball.game.mapper.BatterMapper">
	<select id="findByTeam" resultType="com.baseball.game.dto.Batter">
		select Player_Name,Player_Team,Plate_Appearance,At_Bat,Hit,two_Base,three_Base,Home_Run from kbo_batter_stats_2024 where Team=#{team}
	</select>
	<select id="findByNames" resultType="List">
		select Name from kbo_batter_stats_2024 where Team=#{Team} and Game_Num>=90
	</select>
</mapper>