<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseball.game.mapper.BatterMapper">
	<select id="findByTeam" resultType="com.baseball.game.dto.Batter">
		SELECT
			Player_Name AS name,
			Player_Team AS team,
			Plate_Appearance AS plateAppearances,
			Strike_out As strike_Out,
			Four_Ball As four_Ball,
			Hit_By_Pitch As hit_By_Pitch,
			At_Bat AS atBats,
			Hit AS hits,
			two_Base AS twoBases,
			three_Base AS threeBases,
			Home_Run AS homeRuns,
			ROUND(CAST(Hit AS FLOAT) / NULLIF(At_Bat, 0), 3) AS battingAverage
		FROM kbo_hitter_stats_2024
		WHERE Player_Team = #{team}
		ORDER BY Player_Name
	</select>

	<select id="findByNames" resultType="com.baseball.game.dto.Batter">
		SELECT
			Player_Name AS name,
			Player_Team AS team,
			Plate_Appearance AS plateAppearances,
			Strike_out As strike_Out,
			Four_Ball As four_Ball,
			Hit_By_Pitch As hit_By_Pitch,
			At_Bat AS atBats,
			Hit AS hits,
			two_Base AS twoBases,
			three_Base AS threeBases,
			Home_Run AS homeRuns,
			ROUND(CAST(Hit AS FLOAT) / NULLIF(At_Bat, 0), 3) AS battingAverage
		FROM kbo_hitter_stats_2024
		WHERE Player_Name IN
		<foreach collection="names" item="n" open="(" separator="," close=")">
			#{n}
		</foreach>
		ORDER BY Player_Name
	</select>

	<select id="findByName" resultType="com.baseball.game.dto.Batter">
		SELECT
			Player_Name AS name,
			Player_Team AS team,
			Plate_Appearance AS plateAppearances,
			Strike_out As strike_Out,
			Four_Ball As four_Ball,
			Hit_By_Pitch As hit_By_Pitch,
			At_Bat AS atBats,
			Hit AS hits,
			two_Base AS twoBases,
			three_Base AS threeBases,
			Home_Run AS homeRuns,
			ROUND(CAST(Hit AS FLOAT) / NULLIF(At_Bat, 0), 3) AS battingAverage
		FROM kbo_hitter_stats_2024
		WHERE Player_Name = #{name}
	</select>
</mapper>