<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseball.game.mapper.CommentMapper">
	<select id="getComment" resultType="com.baseball.game.dto.CommentDto">
		select commentId, boardNo, writer, `text`, created_at as createdAt
		from `comment`
		where boardNo=#{boardNo}
		order by commentId asc
	</select>
	<insert id="comment">
		insert into `comment`(board_no, writer, `text`, created_at)
		values(#{boardNo}, #{writer}, #{text}, NOW())
	</insert>
	<delete id="delete">
		delete from `comment` where boardNo=#{boardNo} and commentId=#{commentId}
	</delete>
	<update id="update">
		update `comment` set `text`=#{text} where boardNo=#{boardNo} and commentId=#{commentId}
	</update>
</mapper>