<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseball.game.mapper.CommentMapper">

    <resultMap id="commentResultMap" type="com.baseball.game.dto.CommentDto">
        <id property="commentId" column="comment_id"/>
        <result property="boardNo" column="board_no"/>
        <result property="writer" column="writer"/>
        <result property="text" column="text"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="selectCommentById" resultMap="commentResultMap">
        SELECT * FROM comment WHERE comment_id = #{commentId}
    </select>

    <select id="getComment" resultMap="commentResultMap">
        SELECT * FROM comment WHERE board_no = #{boardNo} ORDER BY created_at ASC
    </select>

    <insert id="comment" parameterType="com.baseball.game.dto.CommentDto" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO comment (board_no, writer, text, created_at)
        VALUES (#{boardNo}, #{writer}, #{text}, CURRENT_TIMESTAMP())
    </insert>

    <update id="update">
        UPDATE comment
        SET text = #{text}
        WHERE board_no = #{boardNo} AND comment_id = #{commentId}
    </update>

    <delete id="delete">
        DELETE FROM comment
        WHERE board_no = #{boardNo} AND comment_id = #{commentId}
    </delete>

</mapper>